body{
    background-color: cadetblue;

}

.header {
     display: flex;
     justify-content:space-around;
     align-items: center;
     background-color: palevioletred;
     position:sticky;
}

.Box{
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 10%;
     gap: 20px;
     flex-wrap: wrap;
}

/* .Card-Container{
    display: flex;
    align-items: center;
    justify-content: center;
} */
h2 {
    display: flex;
    justify-content: center;
    background: linear-gradient(50deg, wheat ,rgb(1, 23, 41),#400,white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: leftright;
}

@keyframes leftright{
    0% {left:0;}
    50% { left: calc(100%-75px);}
    100%{left : 0 ;}
}
.Button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: translateY(2px);
  
}

img {
    width: 300px;
    height: 500px;
    filter: grayscale(100%);
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}
img:hover{
    width: 300px;
    height: 500px;
    filter: grayscale(1%);
    width: 330px;
    /* transform: rotateY(60deg);
    transition: all ease-in-out 0.4s; */
}

button:hover{
    width: 20%;
    color : red;
    background-color: black;
}
button{
       color: black;
       background-color: wheat;
}